<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
<div class="col-md-6" style="border: 1px solid black">
	<div class="col-md-12">
		<h1>Quotation Bill</h1>
		<hr>
		<h3>Company : {{=company}}</h3>
	</div>
	<div  class="col-md-12">
		<h3>Materials</h3>
		<table class="table col-md-12">
			<tr>
				<th>Desciption</th>
				<th>Quantity</th>
				<th>Rate</th>
				<th>VAT</th>
				<th>Amount</th>
			</tr>
		{{for item in bill_data:}}
			<tr>
				<td>{{=item.description}}</td>
				<td>{{=item.quantity}}</td>
				<td>{{=item.rate}}</td>
				<td>{{=item.vat}}</td>
				<td>{{=item.amount}}</td>
			</tr>
		{{pass}}
		</table>		
	</div>
	<div class="col-md-12">
		<h2>Total Amount : {{=total_sum}}</h2>
	</div>
</div>